<div id="<%= dom_id contract %>">
  <p>
    <strong>Name:</strong>
    <%= contract.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= contract.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= contract.author_id %>
  </p>

</div>
