<div class="h-screen flex flex-col items-center justify-center w-full">
  <div class="grow-[4] w-full flex items-center justify-center">
    <h1 class="font-['Kaushan_Script'] text-[#424b54] text-5xl font-bold">Budget</h1>
  </div>
  <div class="AuthenticationBtns grow flex flex-col gap-4 text-center w-full">
    <%= link_to 'LOG IN', new_user_session_path, class: "w-[90%] mx-auto py-4 rounded-sm bg-[#3778c2] text-white cursor-pointer" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "w-[90%] mx-auto cursor-pointer" %>
  </div>
</div>
